 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo img {
	height: 16%;
	width: px;
	right: 12%;
	position: absolute;
	position: fixed;
	top: 30px;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #494949;
  background-image: linear-gradient(135deg, #494949 0%, #191919 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
	top: 30px;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  background: url("images/oudback.jpg")top center / cover;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
	font-family: 'cairo', sans-serif;
	text-justify: right;
	text-align: right;
	
	
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #fff;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.btn {
	display: inline-block;
	text-decoration: none;
	width: 45px;
	height: 45px;
	line-height: 120px;
	border-radius: 50%;
	border-color:#754D29;
	background:url("images/b5-01.png");
	background-size: cover;
	position: relative;
	padding: 0;
	top:50px;

	
}

.btn2{
	background: url("images/b2-01.png");
	display:inline-block;
	width: 45px;
	height: 45px;
	line-height: 120px;
	border-radius: 50%;
	border-color: #BE1E2D;
	background-size: cover;
	position:relative;
	padding: 0px;
	text-decoration: none;
	top: 160px;
}

.btn3{
	background: url("images/b3-01.png");
	display:inline-block;
	width: 45px;
	height: 45px;
	line-height: 120px;
	border-radius: 50%;
	border-color: #EB8124;
	background-size: cover;
	position:relative;
	padding: 0px;
	top: 310px;
	
}

@media screen and (max-width:600px) {
	.btn1 {
		font-size:20px;
	}
}

.btn4{
	background: url("images/b4-01.png");
	display:inline-block;
	width: 45px;
	height: 45px;
	line-height: 120px;
	border-radius: 50%;
	border-color: #B44025;
	background-size: cover;
	position:relative;
	padding : 0px;
	top: -30px;
	

}
.btn5{
	visibility: hidden;
}

.p1{
	text-align: left;
	color:white;
	font-family: 'Cairo', sans-serif;
}

.p2{
	visibility: hidden;
}
 
.gif{
	position: relative;
	padding: 0;
	top:250px;
}

.aboutus{
	position: relative;
	padding: 0;
	top:380px;
	text-align: right;
	color: #F8D898;
	font-size: 30px;
	font-family: 'Kufam', cursive;
	left: -720px;
	
}

.p1{
	position: relative;
	padding: 0;
	top:380px;
	text-align: right;
	
	

}


body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #131313;
}

.all{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 1200px;
	transform-style: preserve-3d;
	top: 60px;
}

.all .box{
	position: relative;
	width: 190px;
	height: 220px;
	margin: 40px;
	background: #131313;
	border-radius: 10px;
	box-shadow: -5px -5px 10px rgba(255,255,255,0.04),
	 5px 5px 15px rgba(0,0,0,0.5);
		top: -140px;
	transform-style: preserve-3d;
	
}

.all .box .name{
	position: absolute;
	top: 0;
	left:0;
	text-align: center;
	color: #F7D797;
	width: 100%;
	transform-style: preserve-3d;
	transform: translate3d(0,0,75px);
	transition: 0.5s;
	opacity: 0;
	z-index: 10;
	font-size: 20px;
	font-family: 'Kufam', cursive;
}

.all .box:hover .name{
	top:-10px;
	opacity: 1;
}

.all .box .price{
	position: absolute;
	top: 0;
	left:0;
	text-align: center;
	color: #fff;
	width: 100%;
	transform-style: preserve-3d;
	transform: translate3d(0,0,75px);
	transition: 0.5s;
	opacity: 0;
	z-index: 10;
	font-size: 12px;
	font-family: 'Cairo', sans-serif;
	
	
}

.all .box:hover .price{
	top:42px;
	opacity: 1;
}


.all .box .buy{
	position: absolute;

	transform-style: preserve-3d;
	transform: translate3d(50%,0,75px);
	color: aliceblue;
	background: #131313;
	padding: 7px 7px;
	border-radius: 30px; 
	text-decoration: none;
	transition: 0.5s;
	opacity: 0;
	z-index: 10;
	box-shadow: inset -5px -5px 10px rgba(255,255,255,0.05),
		inset 5px 5px 15px rgba(0,0,0,0.5);
	font-family: 'Cairo', sans-serif;
	font-size: 10px;
	
}

.all .box:hover .buy{
	bottom: 110px;
	opacity: 1;
	left:12%;
}

.all .box .product{
	position: absolute;
	top: 120%;
	left: 50%;
	max-width: 300px;
	transition: 0.5s;
	z-index: 11;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,0px);
}

.all .box:hover .product{
		transform: translate3d(-50%,-50%,100px);

}


.p{
	font-family: 'Cairo', sans-serif;
	
}

footer{
	position: absolute;	
	background: #161616;
	height: auto;
	width: 100vw;
	font-family: 'cairo', sans-serif;
	padding-top: 4px;
	color:#FFF;
}

.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content img{
	position:absolute;
	right: 170px;
	margin-top: 30px;
}
.p3{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;

}

.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 2rem 0.5rem;
	position:relative;
	top: 10px;
		left:-1.1%;
	
}

.socials li{
	margin: 0 20px;
}

.socials a{
	text-decoration: none;
	color: #fff;
}

.socials a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}

.socials a:hover i{
	color:burlywood;
}

.footer-bottom{
	background: #161616;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}

.footer-bottom p{
	font-size: 12px;
	word-spacing: 2px;
	text-transform: capitalize;
	
}

.footer-bottom span{
	text-transform:uppercase;
	opacity: .4;
	font-weight: 200;
	
}

.socials2{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	position:relative;
	top: 47px;
	left:90px;
}

.socials2 li{
	margin: 0 40px;
}

.socials2 a{
	text-decoration: none;
	color: #fff;
}

.socials2 a {
	font-size: 1.1rem;
	transition: color .4s ease;
}

.socials2 a:hover {
	color:burlywood;
}

.cart{
	position:absolute;
	right: 88%;
	top:-55%;
}

.pa{
	font-size: 20px;
	font-family: 'Cairo', sans-serif;
	position: absolute;
	left: 82%;
	color: aliceblue;
	top: -55%;
}
	
.raw{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.col{
	flex-basis: 50%;
	min-width: 250%;
	
}
	
.feature-img{
	position:absolute;
	border-radius: 6px 6px 6px 6px;
	overflow: hidden;
	top: 150px;
	
}

.feature-img img{
	position: relative;
	top: 50px;
	right: -55%;
	

}
.baci {
	position: relative;
	top:140px;
	right: -160px;
}

.play-btn{
	width: 60px;
	position: absolute;
	left: 40%;
	top:50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}

.small-img .play-btn{
	width: 35px;
	left: 50%;
}

.video-player{
	width: 75%;
	position: absolute;
	left: 50%;
	top:57%;
	transform: translate(-50%,-50%);
	display: none;
}

video.focus{
	outline: none;
}

.close-btn{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	cursor: pointer;
}



.small-omg-row1{
	display: flex;
	background:#131313;
	border-radius: 6px;
	overflow: hidden;
	top:54%;
	right: 15%;
	position: absolute;
	
}

.small-omg-row2{
	display: flex;
	background:#131313;
	border-radius: 6px;
	overflow: hidden;
	top:66%;
	right: 15%;
	position: absolute;
	
}

.small-omg-row3{
	display: flex;
	background:#131313;
	border-radius: 6px;
	overflow: hidden;
	top:78%;
	right: 15%;
	position: absolute;
	
}

.small-omg-row1 p{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
    text-align: left;
	color:white;
	font-family: 'Cairo', sans-serif;
	font-size: 12px;
	
}

.small-omg-row2 p{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
    text-align: left;
	color:white;
	font-family: 'Cairo', sans-serif;
	font-size: 12px;
	
}

.small-omg-row3 p{
	margin-left: 10px;
	margin-right: 19px;
	margin-top: 10px;
   text-align: left;
	color:white;
	font-family: 'Cairo', sans-serif;
	font-size: 12px;
	
}
.small-img{
	position: relative;
}

.small-img img{
	width: 150px;
}

.imgser{
	position: absolute;
	top:20%;
	right:22%;
}

.reb{
	position:absolute;
	color: aliceblue;
	background:#EC8022;
	padding: 10px 40px;
	border-radius: 30px; 
	text-decoration: none;
	transition: 0.5s;
	font-family: 'Cairo', sans-serif;
	font-size: 25px;
	top:76%;
	right: 42%;
}

.reb:hover{
  background:#F8D898;
  color: black;
	font-family: 'Cairo', sans-serif;
}

*{
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

.cos{
	background-color: #19191A;
	background-size: cover;
}
.contact-section{

  padding: 80px 0;
  text-align: center;
	font-family: 'Cairo', sans-serif;
}

.inner-width{
  max-width: 300px;
  margin: auto;
  padding: 0 20px;
position:absolute;
	left: 70%;
	top:30%;
}

.contact-section h1{
  font-size: 28px;
  color: #888;
  margin-bottom: 40px;
  text-transform: uppercase;
  word-spacing: 7px;
  font-weight: 400;
	font-family: 'Cairo', sans-serif;
	top:-20pX;
	position: relative;
}

.name,.email,.message{
  background: none;
  border:none;
  outline: none;
  border-bottom: 1px solid;
  color: #888;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
	position: relative;
	top:30px;
}

.name{
  float: right;
  width: 270px;
text-align: right;
}

.email{
  float: right;
  width: 270px;
	text-align: right;
}

.message{
  min-width: 100%;
  max-width: 100%;
	 float: right;

	text-align: right;
}


.contact-section button{
  background: none;
  color:#F8D898;
  border: 1px solid #F8D898;
  padding: 12px 80px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.4s linear;
  cursor: pointer;
	font: "cairo', sans-serif";
	word-spacing: 3px;
	top: 110%;
	right:7.5%;
	position: absolute;
}

.contact-section button:hover{
  background:#F8D898;
  color: black;
	font-family: 'Cairo', sans-serif;
}


@media screen and (max-width:600px){
  .name,.email{
    width: 100%;
  }
}

.map{
	position: absolute;
	top: 25%;
	right:45%;
}


.con {
  display: inline-block;
  position:relative;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

/* Icons */

.ia {
  color:#fff;
  background: gray;
  border-radius:40px;
  text-align:center;
  text-decoration:none;
  font-family:'Cairo', sans-serif;
  position: relative;
  display: inline-block;
  width:84px;
  height:28px;
  padding-top:4px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
	top:20px;
	right:6px;
}

.ia:hover {
  background:none;
}

/* pop-up text */

.ia span {
  color:#666;
  position:absolute;
  font-family:'Cairo', sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:10px;
  background:#fff;
  visibility:hidden;
  opacity:0;
width:200px;
 
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.ia span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

/* text pops up when icon is in hover state */

.ia:hover span {
  bottom:50px;
  visibility:visible;
  opacity:1;
}

.middle1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.card1{
  cursor: pointer;
  width: 340px;
  height: 480px;
}
.front1,.back1{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
left: 70%;
}
.front1 img{
  height: 100%;
}
.front1{
  transform: perspective(600px) rotateY(0deg);
}
.back1{
  background: #f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}
.back1-content{
  color: #2c3e50;
  text-align: center;
  width: 100%;
}
.sm1{
  margin: 20px 0;
}
.sm1 a{
  display: inline-flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%
}
.sm1 a:hover{
  background: #2c3e50;
  color: white;
}
.card1:hover > .front1{
  transform: perspective(600px) rotateY(-180deg);
}
.card1:hover > .back1{
  transform: perspective(600px) rotateY(0deg);
}

.middle2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.card2{
  cursor: pointer;
  width: 340px;
  height: 480px;
}
.front2,.back2{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
left: -70%;
}
.front2 img{
  height: 100%;
}
.front2{
  transform: perspective(600px) rotateY(0deg);
}
.back2{
  background: #f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}
.back2-content{
  color: #2c3e50;
  text-align: center;
  width: 100%;
}
.sm2{
  margin: 20px 0;
}
.sm2 a{
  display: inline-flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%
}
.sm2 a:hover{
  background: #2c3e50;
  color: white;
}
.card2:hover > .front2{
  transform: perspective(600px) rotateY(-180deg);
}
.card2:hover > .back2{
  transform: perspective(600px) rotateY(0deg);
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-moz-keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-ms-keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* pulse */
@keyframes pulse {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes pulse {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes pulse {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes pulse {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* scale */
@keyframes scale {
    0%   { transform: scale(1.0); }
    100% { transform: scale(1.2); }
}
@-moz-keyframes scale {
    0%   { transform: scale(1.0); }
    100% { transform: scale(1.2); }
}
@-ms-keyframes scale {
    0%   { transform: scale(1.0); }
    100% { transform: scale(1.2); }
}
@keyframes scale {
    0%   { transform: scale(1.0); }
    100% { transform: scale(1.2); }
}


html {
    scroll-behavior: smooth;
}


#Home1 {
    height: 850px;
    display: inline-block;
    width: 100%;
	position:relative;
	top: -20px;
	right: 3%;
	
}



#About1 {
    height: 850px;
    display: inline-block;
    width: 100%;
	position:relative;
	top: -20px;
	right: 3%;
}

#Resume1 {
    height: 850px;
    display: inline-block;
    width: 100%;
	position:relative;
	top: -20px;
	right: 3%;
}

#Projects1 {
    height: 850px;
    display: inline-block;
    width: 100%;
		position:relative;
	top: -20px;
	right: 3%;
}


